<h1>This is your grid</h1>
<%= @grid %>
<h1>This is your attempt</h1>
<%= @attempt %>
<h1>This is your response time</h1>
<%= @time_taken %>


<h1>This is your score, better luck next time !</h1>
<%= @score %>

<%= link_to "home page", game_path %>
